/* Estilos base */
h1 {
    color: #000;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

nav {
    background-color: #000;
    color: #fff;
    padding: 5px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: center;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
}

#segunda-lista li {
    margin: 5px auto;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: #000;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 40%;
    text-align: center;
    list-style: none;
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column; 
    }

    nav ul li {
        margin: 5px 0; 
    }

    nav ul li a {
        margin: 0; 
    }
}

@media screen and (max-width: 480px) {
    #segunda-lista li {
        width: 90%; 
    }
}
